.fotterTitlecontent {
  color: #396c03;
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
  text-transform: capitalize;
}
.fotterPara {
  color: #676767;
  font-size: 18px;
  line-height: 28.8px;
}
.fotterButton {
  background: #396c03;
  border-radius: 224.4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  gap: 15px;
  color: #ffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  border: none;
}

.fotterRight {
  background-image: url("../../assets/banner/bgImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
